@model IssueTrackingSystem2.Web.InputModels.Project.ProjectCreateInputModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Project</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" type="text" id="name" placeholder="Name..." class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" type="text" id="description" placeholder="Description..." class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="control-label">
                    <label asp-for="LeaderId" class="control-label"></label>
                </div>
                <select class="form-control text-primary" id="user" asp-for="LeaderId">
                    <option selected disabled>--- Select Project Leader ---</option>
                    @foreach (var user in (SelectList)this.ViewData["Users"])
                    {
                        <option value="@user.Value">@user.Text</option>
                    }
                </select>
            </div>
            <span asp-validation-for="LeaderId" class="text-danger"></span>
            <div class="form-group">
                <label asp-for="Priorities" class="control-label"></label>
                <input asp-for="Priorities" class="form-control" />
                <span asp-validation-for="Priorities" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Dashboard" , asp-controller="HomeController">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
