@model MilestoneCreateInputModel

@{
    ViewData["Title"] = "Create Milestone";
}

<h1>@ViewData["Title"]</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ScheduledStartDate" class="control-label"></label>
                <input asp-for="ScheduledStartDate" class="form-control" />
                <span asp-validation-for="ScheduledStartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ScheduledCompletionDate" class="control-label"></label>
                <input asp-for="ScheduledCompletionDate" class="form-control" />
                <span asp-validation-for="ScheduledCompletionDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ActualStartDate" class="control-label"></label>
                <input asp-for="ActualStartDate" class="form-control" />
                <span asp-validation-for="ActualStartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ActualCompletionDate" class="control-label"></label>
                <input asp-for="ActualCompletionDate" class="form-control" />
                <span asp-validation-for="ActualCompletionDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
